<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add Component</h3>
  </div>

  <div class="panel-body">
    <%= form_for NamComponent.new, url: '/nam_components/create', remote: true do |f|%>

        <div class="form-group">
          <div class="col-sm-4">
            <%= label_tag 'name:' %>
            <%= f.text_field :name, :required => true, :class => 'form-control' %>
          </div>
          <div class="col-sm-4">
            <%= label_tag 'IP address:' %>
            <%= f.text_field :ipaddress, :required => true, :class => 'form-control' %>
          </div>
          <div class="col-sm-4">
            <%= label_tag 'DMZ Name:' %>
            <%= f.text_field :dmz, :required => false, :class => 'form-control' %>
          </div>
        </div>
        <h4>Component Type</h4>

        <div class="row">
          <div class="col-sm-12">
            <div class="checkbox">
              <%= f.radio_button :component_type, 'idp' %>
              <%= label_tag 'Identity Server' %>
            </div>
            <div class="checkbox">
              <%= f.radio_button :component_type, 'ag' %>
              <%= label_tag 'Access Gateway' %>
            </div>
            <div class="checkbox">
              <%= f.radio_button :component_type, 'admin' %>
              <%= label_tag 'Admin Console' %>
            </div>
            <div class="checkbox">
              <%= f.radio_button :component_type, 'ldap' %>
              <%= label_tag 'eDirectory User Store' %>
            </div>
            <div class="checkbox">
              <%= f.radio_button :component_type, 'kerb' %>
              <%= label_tag 'Active Directory User Store' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <%= f.submit 'Add Device', class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>
  </div>
</div>
