<h1>Welcome to NAM Firewalls by Novacoast</h1>
<p>This tool can be used to generate the firewall rules required for the different NetIQ Access Manager components.</p>
<p>You can find more information at .</p>

<%= render partial: 'nam_components/new_form' %>

<li><%= render partial: 'nam_components/list_nam_device' %></li>

<div>
  <%= button_to 'Build Rules',
                { :controller => :build_rules, :action=> :show, :page => @current_page},
                { :remote => true, :id => 'lnk_build' }
  %>
  <%= button_to 'Clear All Rules',
                { :controller => :build_rules, :action=> :destroy, :page => @current_page},
                { :remote => true, :id => 'lnk_clear_rules' }
  %>
  <%= button_to 'Modify Components',
                { :controller => :nam_components, :action=> :index, :page => @current_page},
                { :remote => true, :id => 'lnk_load_components' }
  %>
</div>

<div id='session_id' style="display: none"><%=@rule_session.session_id %></div>

<div id="results"></div>

<div id="share_results">
  <%=render partial: 'build_rules/share' %>
  <%=render partial: 'build_rules/download_csv' %>
</div>
