<h1 class="text-muted">Welcome to NAM Firewalls by me.</h1>
<div class="jumbotron">
  <p class="lead">This tool can be used to generate the firewall rules required for the different NetIQ Access Manager
    components.</p>
</div>
<%= render partial: 'nam_components/new_form' %>
<%= render partial: 'network_details/component' %>
<!--<li></li>-->
<%= render partial: 'nam_components/list_nam_device' %>

<div id='session_id' style="display: none"><%= @rule_session.session_id %></div>

<div id="results"></div>

<div id="share_results"></div>

<div class="row-fluid">
  <div class="cols-sm-6">

    <%= button_to 'Build Rules',
                  {:controller => :build_rules, :action => :show, :page => @current_page},
                  {:remote => true, :id => 'lnk_build', :class => 'btn btn-success'}
    %>
  </div>
  <div class="cols-sm-6 pull-right">
    <%= button_to 'Clear All Rules',
                  {:controller => :build_rules, :action => :destroy, :page => @current_page},
                  {:remote => true, :id => 'lnk_clear_rules', :class => 'btn btn-danger'}
    %>

  </div>

</div>

<%= link_to 'Modify Components', nam_components_path, :class => 'btn btn-link' %>

<%= link_to 'Save As CSV', download_path(@rule_session.session_id) + '.csv', :class => 'btn btn-link' %>

<%= link_to 'Share', share_path(@rule_session.session_id), :class => 'btn btn-link' %>


